<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./home.css">
    <title>Project</title>
</head>
<body>
    <div>
        <h1>Welcome All!</h1> <hr>
        <div>
            <p>Please fill in the form below to be added to the database.</p>
        </div>
        
        <div>
            <form action="/save" method="POST">
                <div>
                    <label for="name">NAME:</label>
                    <input type="text" name="name" id="name">
                </div>
                <div>
                    <label for="password">PASSWORD:</label>
                    <input type="text" name="password" id="password">
                </div>
                <div>
                    <input type="submit" id="submitBtn">
                </div>
            </form>
            <h4>
                <%=newUser%>
            </h4>
        </div>
        <hr>
        <div>
            <p>Find User</p>
            <form action="/findusers" method="GET">
                <div>
                    <label for="user">Username:</label>
                    <input type="text" name="user" id="user">
                </div>
                <div>
                    <input type="submit" value="Find user">
                </div>
            </form>
            <div>
                <h4><%=notFound%></h4>
            </div>
        </div>
        <hr>
    
    </div>

    <script>
        

    </script>
</body>
</html>