<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>
        <h3>Users found:</h3>
        <h4>
            <%=foundUser%>
        </h4>
    </div>

    <div>
        <a href="/">Back to Sign-up</a>
    </div>
</body>
</html>